<h1><%= I18n.t('order_mailer.order_confirmation.heading') %></h1>
<p><%= I18n.t('order_mailer.order_confirmation.message', order_id: @order.id) %></p>
<p><%= I18n.t('order_mailer.order_confirmation.thanks') %></p>
