<%= form_with(model: [@order, @payment], local: true) do |form| %>
  <div class="field">
    <%= form.label :payment_method %>
    <%= form.select :payment_method, Payment.payment_methods.keys.map { |w| [w.humanize, w] } %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
